<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link href="/atul/css/bootstrap.css" rel="stylesheet" />
        <link href="/atul/css/style.css" rel="stylesheet" />
        <link href="/atul/css/mystyle.css" rel="stylesheet" />
        <link href="/atul/css/bootstrap.min.css" rel="stylesheet" />
        <script src="/atul/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/atul/js/bootstrap.js" type="text/javascript"></script>
        <script src="/atul/node_modules/ejs/ejs.min.js" type="text/javascript"></script>
        <script src="/atul/node_modules/ejs/ejs.js" type="text/javascript"></script>
        <script src="/atul/js/jquery-1.11.2.js" type="text/javascript"></script>
        <script src="/atul/js/jquery-1.11.2.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="atul/js/merchant.js" type="text/javascript"></script>
        <script>
              $(document).ready(function(){
            $('body').append('<div id="toTop" class="btn btn-info" style="float: right; margin-bottom: 10px ; margin-right: 10px;"  ><span class="glyphicon glyphicon-chevron-up"></span> Back to Top</div>');
                $(window).scroll(function () {
                    if ($(this).scrollTop() != 0) {
                        $('#toTop').fadeIn();
                    } else {
                        $('#toTop').fadeOut();
                    }
                });
            
                $('#toTop').click(function () {
                    $("html, body").animate({ scrollTop: 0 }, 600);
                    return false;
                });
            
               })  ;            
        </script>
 
    </head>
 
    <body ng-app="app">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Start Bootstrap</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- Page Content -->
        <div class="container">
            <!-- Page Search Button -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <h2>Show Dropdown Hover & Caret Up</h2>
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header col-md-8">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand " href="#"><img src="/images/logo.gif" alt="#" height="40px"></a>
                        </div>
 
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
 
                            <form class="navbar-form navbar-left" role="search">
                                <div id="custom-search-input">
                                    <div class="input-group col-md-12" style="height:30px">
                                        <input type="text" class="form-control input-lg" placeholder="Search by Typing Here.." style="height:30px;font-size:15px " />
                                        <span class="input-group-btn">
                                            <button class="btn btn-info btn-lg" type="button">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
 
                        </div><!-- /.navbar-collapse -->
                    </div>
                </div>
            </div>
 
            <!-- Page NavBar -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="row vertical-center">
                        <nav class="navbar rowTwo  " role="navigation">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse " style="margin-left: 200px" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav ">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Graphic Desing <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav ">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Marketing <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav ">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product Catalogue <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav ">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Photography <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav ">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programming & Tech <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
 
                            </div><!-- /.navbar-collapse -->
                        </nav>
 
                    </div>
                </div>
            </div>
 
            <!--Page Panel for Add-->
            <div class="col-md-12 column">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p style="text-align: center">
                  Get up to 50% Paytm cash on Watches! <a href="https://paytm.com/shop/h/watches">Shop Now!</a> T&C's Apply.     </p>
                    </div>
                </div>
            </div>
 
            
            <!-- /.row -->
            <!-- Projects Row -->
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="row">
                       
                       <div ng-controller="StoreController as St">


           
                <div ng-repeat="product in St.products">
           
                <div class="col-md-4 ">
                    <div class="thumbnail">
                    <a href="#">
                        <img ng-src="{{product.images[0].full}}" style="width: 100%" alt="300x200" >
                    </a>
                    <h3>
                        <a href="/ZoomCustomize">{{product.name}}</a>
                    </h3>
                  {{product.description}}
                    <!-- Ratings -->

                        <div ng-controller="RatingCtrl">
                    <div ng-init="rating = star.rating + 1"></div>

<div class="star-rating" star-rating rating-value="rating"

 data-max="10" on-rating-selected="rateFunction(rating)"></div></div>
                        
                        <section ng-controller="PanelController as panel">
                        <ul class="nav nav-pills">
                        <li ng-class="{active:panel.isSelected(1)}">
                        <a href ng-click="panel.selectTab(1)">Description</a>

                      

                        </li>
                            <li ng-class="{active:panel.isSelected(2)}">
                        <a href ng-click="panel.selectTab(2)">Specification</a>
                                
                        </li>
                            <li ng-class="{active:panel.isSelected(3)}">
                        <a href ng-click="panel.selectTab(3)">Review</a>
                               
                        </li>
                        </ul>
                         <div class="panel" ng-show="panel.isSelected(1)">
                        
                        <p>{{product.description}}</p>
                    </div>
                     <div class="panel" ng-show="panel.isSelected(2)">
                    
                        <p>{{product.specification}}</p>
                    </div>
                     <div class="panel" ng-show="panel.isSelected(3)">
                       
                        <p>{{product.review}}</p>
                    </div>

                    </section>
                        </div>
                </div>

               </div>
            
            </div>
                    </div>
                </div>
            </div>
               
            <!-- /.row -->
            <!-- Projects Row -->
            <!-- /.row -->
            <hr>
            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li>
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
            <hr>
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Your Website 2014</p>
                    </div>
                </div>
                <!-- /.row -->
            </footer>
        </div>
        <!-- /.container -->
        <!-- jQuery -->
        <script src="/atul/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/atul/js/bootstrap.min.js"></script>
        <script type="text/javascript" >
            var app = angular.module('app', ['RatingTutorial', 'myApp3','store','myApp']);

           var moduleService=angular.module('myApp', [])
  .controller('JustCtrl', function($scope, $http) {
    $scope.ptis = [];
    // Simple GET request example :
    $http.get('https://gist.githubusercontent.com/idhamperdameian/239cc5a4dbba4488575d/raw/0a2ea4c6c120c9a8f02c85afcf7a31941ef74d3a/ptis.json').
    success(function(data, status, headers, config) {
      // this callback will be called asynchronously
      // when the response is available
      $scope.ptis = data;
    }).
    error(function(data, status, headers, config) {
      // called asynchronously if an error occurs
      // or server returns response with an error status.
    });
  });




  var moduleRating=angular.module('RatingTutorial', [])
  .controller('RatingCtrl', function($scope) {
    $scope.rating = 3;
    $scope.rateFunction = function(rating) {
      alert('Rating selected - ' + rating);
    };
  })
  .directive('starRating',
	function() {
		return {
			restrict : 'A',
			template : '<ul class="rating">'
					 + '	<li ng-repeat="star in stars" ng-class="star" ng-click="toggle($index)">'
					 + '\u2605'
					 + '</li>'
					 + '</ul>',
			scope : {
				ratingValue : '=',
				max : '=',
				onRatingSelected : '&'
			},
			link : function(scope, elem, attrs) {
				var updateStars = function() {
					scope.stars = [];
					for ( var i = 0; i < scope.max; i++) {
						scope.stars.push({
							filled : i < scope.ratingValue
						});
					}
				};
				
				scope.toggle = function(index) {
					scope.ratingValue = index + 1;
					scope.onRatingSelected({
						rating : index + 1
					});
				};
				
				scope.$watch('ratingValue',
					function(oldVal, newVal) {
						if (newVal) {
							updateStars();
						}
					}
				);
			}
		};
	}
);

           var moduleStore = angular.module('store', []).controller('StoreController', function ()
                { this.products = gem; }
                );




                var gem = [{
                    name: 'Brush',
                    price: 32.95,
                    images: [{ full: 'images/image1.png', thumb: 'images/image2.jpg' }, { full: 'images/image3.jpg', thumb: 'images/image5.jpg'}],
                    description: 'This product is very awesome',
                    specification: 'Is tooth paste me namak hai',
                    review: '5 star',
                    canPurchase: true
                },
                {
                    name: 'ToothPaste',
                    price: 2.95,
                    images: [{ full: 'images/image2.jpg', thumb: 'images/image2.jpg' }, { full: 'images/image3.jpg', thumb: 'images/image5.jpg'}],
                    description: 'This product is fucking asshole',
                    specification: 'Is tooth paste me namak nahi hai',
                    review: '1 star',
                    canPurchase: false
                }]








                app.controller('PanelController', function () {
                    this.tab = 3;
                    this.selectTab = function (setTab) {
                        this.tab = setTab;
                    };
                    this.isSelected = function (checkTab) {
                        return this.tab === checkTab;
                    };
                });



                

                var MainService=angular.module('myApp3', [])
  .controller('JustCtrl2', function($scope, $http) {

    $scope.ptiss = [];
    // Simple GET request example :
    $http.get('https://catalogadmin-dev.paytm.com/v1/merchant/21492/catalog.json?authtoken=xzU2kpFoQTi2a-bApAj98w').
    success(function(data, status, headers, config) {
      // this callback will be called asynchronously
      // when the response is available
      $scope.ptiss = data;
    }).
    error(function(data, status, headers, config) {
      // called asynchronously if an error occurs
      // or server returns response with an error status.
    });
  });




  </script>
        <div ng-controller="JustCtrl">
  <span ng-repeat="p in ptis">
        {{p.name}}, {{p.description}}, etc...<br>
    </span>
</div>

        <div ng-controller="JustCtrl2">
  <span ng-repeat="px in ptiss">
        {{px.merchant_id[0]}} etc...<br>
    </span>
</div>

    </body>
</html>